/*.o
/.vs/
/**/*.o
/fwd.h.gch
/anici
/anici.h
*.dylib
*.so
/.dcc.d/
/anici.static
/test/serialization/*.dat
/libanici.so
/ici
/ici.h
*.a
*.d
/.build/
/.build*/
/.xcode/
/CMakeLists.txt.user
/.build.xcode/
/modules/bignum/mit/bztest
/modules/bignum/mit/testKerN
/cscope.*
/modules/sqlite/tests/*.db
/modules/sqlite/tests/*.data
