*.o
*.dylib
*.so
*.a
.objs/
/test/serialization/*.dat
/ici
/ici.h
/.build/
/build/
/.build*/
/.xcode/
/CMakeLists.txt.user
/modules/bignum/mit/bztest
/modules/bignum/mit/testKerN
/cscope.*
/modules/sqlite/tests/*.db
/modules/sqlite/tests/*.data
/.vscode/ipch/
/.vscode/c_cpp_properties.json
.DS_Store
/modules/ipp/tests/test-*-output.wav
