*.o
*.dylib
*.so
*.a
.dcc.o/
/test/serialization/*.dat
/ici
/ici.h
/.build/
/.build*/
/.xcode/
/CMakeLists.txt.user
/modules/bignum/mit/bztest
/modules/bignum/mit/testKerN
/cscope.*
/modules/sqlite/tests/*.db
/modules/sqlite/tests/*.data
